@model ProductModel
@{
    ViewData["title"] = "Edit Product";
}
<div>
    <h1>Edit Product</h1>
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" asp-for="CategoryID" asp-items="ViewBag.Category">
                <option>--Choose a Category--</option>

            </select>
        </div>
        <div class="form-group">
            <label>Brand</label>
            <select class="form-control" asp-for="BrandID" asp-items="ViewBag.Brand">
                <option>--Choose a Brands--</option>

            </select>
        </div>
        <div class="form-group">
            <label>Upload file</label>
            <input asp-for="imageUpload" class="form-control" />
            <span asp-validation-for="imageUpload" class="text-danger"></span>
            <img src= "~/media/products/@Model.image" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Create</button>
        </div>
    </form>
    <a asp-action="index">Back to List Product</a>
</div>

@section Script {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}